{% extends "base.html" %}
{% block title %}Sign-Up{% endblock %} 
{% block content %}
<p>Amaze pay has just started its venture. We provide savings account and checking accounts for customer, and also
    allow customers to make money trasfer. Currently we have one branch near Weschester. Very soon we will expand our branches, stay tune.</p>
<h4>Helpful Information</h4>
<p>If you have queries regarding the money trasfer, feel free to </p>
<p>contact us on +1213******* </p>
<p>email us on amazepay@example.com</p>
<p>If you want to open a new checkin or savings account, please visit our branch we are open from Monday to Friday between 9:00am to 6:00pm</p>
<h4>Our current location:</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.9083416110248!2d-118.41889839999997!3d33.96919530000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b0978d5aa4af%3A0x1aca060c7fe7c56f!2sLoyola%20Marymount%20University!5e0!3m2!1sen!2sus!4v1651248781299!5m2!1sen!2sus" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}