{% extends "base.html" %}
{% block title %}Validate{% endblock %} 
{% block content %}
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<h2>Make a Transfer</h2>


 <form method="POST" action="/transfer_money">
<div class="form-group">
<label for="account_t1">Choose your account type:</label>
    <select name="account_t1" id="account_t1">
    <option value="saving_account">Savings account</option>
    <option value="check_account">Checkin account</option>
</select>
</div>
  To     <input name="to" class="form-control"/>
</br>
  <div class="form-group">
       <label for="account_t2">Choose their account type:</label>
           <select name="account_t2" id="account_t2">
           <option value="saving_account">Savings account</option>
           <option value="check_account">Checkin account</option>
       </select>
       </div>Amount <input name="amount" class="form-control"/>
</br>
  <button type="submit" class="btn btn-primary">Transfer Moneyy</button>
  <!-- defending CRF attack -->
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form> 
</br>
<p><a href="/dashboard">Back to Dashboard</a></p>
{% endblock %}

